<!DOCTYPE html>
<html lang=en>
<head>
    <title>Projects</title>
</head>
<body>
    <main>
        <div>
            <h1>My Projects</h1>
            {% if project_list|length == 0 %}
            <p>You are not assigned to any projects.</p>
            {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                {% for project in project_list %}
                    <tbody>
                        <tr>
                            <td><a href="{% url 'show_project' project.id %}">{{ project.name }}</td>
                            <td>{{ project.tasks.all|length }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </main>
</body>
</html>
