<!DOCTYPE html>
<html lang=en>
<head>
    <title>Projects</title>
</head>
<body>
    <main>
        <div>
            <h1>My Projects</h1>
            {% if project is None %}

            <p>You are not assigned to any projects.</p>

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in project_list %}
                        <tr>
                            <td>{{ project.name }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </main>
</body>
</html>
